.ui-search {
    background: url(../img/ui-search.jpg) center no-repeat;
    font-size: 14px;
    color: #fff;
    position: relative;
}
.ui-search-selected {
    width: 70px;
    height: 38px;
    line-height: 38px;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 14px;
}
.ui-search-select-list {
    width: 67px;
    line-height: 24px;
    background-color: #fff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 2px;
    top: 36px;
    z-index: 2;
}

.ui-search-select-list a {
    display: block;
    color: #a5a2a2;
    text-align: center;
}
.ui-search-select-list a:hover {
    background-color: #ebeef5;
}
.ui-search-input {
    width: 208px;
    height: 28px;
    line-height: 28px;
    position: absolute;
    top: 5px;
    left: 72px;
    font-size: 13px;
    color: #a5a2a2;
}
.ui-search-submit {
    display: block;
    width: 40px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 1px;
}